/* Navbar*/

*{
  margin: o;
  padding: 0;
}
nav{
  background:white;
  padding: 1rem;
}
nav ul{
list-style-type:none;
margin: 0;
padding: 0%;
display:flex;
justify-content:space-around;
}
nav ul li{
display:inline;
 }
nav ul li a{
  color:black;
  text-decoration:none;
  padding: 0.5rem 1rem;
  display:block;
 }
nav ul li a :hover{
  background-color:#575757;
  border-radius:5px;
}
nav ul img{
  width: 188px;
  height: 109px;
  top: -2px;
  left: 683px;
  gap: 0px;
  opacity: 0px;
}
      
#hero img {
  width: 1254px;
height: 489px;
left: 10px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;  
}

/*silder*/
#slider-1 h4{
font-family: Playball;
font-size: 64px;
font-weight: 400;
line-height: 80px;
text-align: left;
color: #77A28B;
}
#slider-1 h2{
 font-family: Mulish;
font-size: 32px;
font-weight: 400;
line-height: 40.16px;
text-align: left;
color: #626262;
}
#slider-1 p{
  font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 41.52px;
text-align: left;

}

#slider-1 button{
    width: Hug (226px)px;
    height: Hug (53px)px;
    top: 959px;
    left: 80px;
    padding: 15px 40px 15px 40px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background-color: #77A28B;  
    margin-bottom: 2%;
  }
  #slider-1-img{
    width: 522px;
    height: 445px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
  } 
  /**slider*/

  
#slier-2-img{
  width: 622px;
  height: 445px;
  margin-top:30%;
  left: 80px;
 }

 #slider-2 h4{
font-family: Playball;
font-size: 50px;
font-weight: 380;
line-height: 75px;
text-align: left;
margin-left: 24%;
margin-top: 10px;
color:#77A28B;
 }

 #slider-2 p{
text-align: left;
margin-left: 26%;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 41.52px;
text-align: left;

 }

 #slider-2 a{
  width: Fixed (261.58px)px;
height: Hug (53px)px;
top: 1479px;
left: 744px;
padding: 15px 40px 15px 40px;
gap: 10px;
border-radius: 4px 0px 0px 0px;
opacity: 0px;
background-color:#77A28B;
margin-left: 25%;
 }

 /* slider*/

 #slider-3 h4{
  font-family: Playball;
font-size: 64px;
font-weight: 400;
line-height: 80px;
text-align: left;
margin-top: 10%;
color: #77A28B;
 }

 #slider-3 p{
  width: 530px;
height: 252px;
top: 1744px;
left: 88px;
gap: 0px;
opacity: 0px;
margin-top: 3%;
  font-family: Mulish;
font-size: 13px;
font-weight: 400;
line-height: 38.52px;
text-align: left;
 }
 #slider-3 a{
  width: Fixed (261.58px)px;
height: Hug (53px)px;
top: 1479px;
left: 744px;
padding: 15px 40px 15px 40px;
gap: 10px;
border-radius: 4px 0px 0px 0px;
opacity: 0px;
background-color:#77A28B;
margin-left: 25%;
 }
 #slider-3-img{
  width: 522px;
height: 445px;
margin-top: 5%;
left: 738px;
gap: 0px;
opacity: 0px;
 }

 /*ractangle*/

 #ractangle-2{
  width: 1190px;
  height: 401px;
  top: 2129px;
  gap: 0px;
  opacity: 0px;
  margin-top: 2%;  
 }
 #happy h4{
  width: 334px;
  height: 80px;
  margin-left: 40%;
  margin-top: 2%;
  gap: 0px;
  opacity: 0px;
  color:#77A28B;
  font-family: Playball;
font-size: 44px;
font-weight: 300;
line-height: 80px;
text-align: left;
 }

 #keeping{
  width: 1172px;
height: 208px;
top: 2738px;
left: 129px;
gap: 0px;
opacity: 0px;
text-align: center;
 }
 #keeping-1 h{
  width: 167px;
height: 30px;
top: 2738px;
left: 286px;
gap: 0px;
opacity: 0px;
 }
#keeping-1 p{
  width: 304px;
height: 80px;
top: 2824px;
left: 218px;
gap: 0px;
opacity: 0px;
}
#keeping-1 img{
  width: 21.01px;
height: 39px;
margin-top: 16%;
left: 13.5px;
gap: 0px;
opacity: 0px;
}
#keeping-2 h{
  width: 167px;
height: 30px;
top: 2738px;
left: 286px;
gap: 0px;
opacity: 0px;
 }
#keeping-2 p{
  width: 304px;
height: 80px;
top: 2824px;
left: 218px;
gap: 0px;
opacity: 0px;

}
#keeping-3 h{
  width: 167px;
height: 30px;
top: 2738px;
left: 286px;
gap: 0px;
opacity: 0px;
 }
#keeping-3 p{
  width: 304px;
height: 80px;
margin-top: 5%;
left: 118px;
gap: 0px;
opacity: 0px;
}
#keeping-3 img{
  width: 21.01px;
height: 39px;
top: 4.5px;
left: 13.5px;
gap: 0px;
opacity: 0px;

}

 #Group{
  width: 274px;
height: 80px;
top: 2996px;
left: 553px;
gap: 0px;
opacity: 0px;
color: #77A28B;
 }
#form{
  width:844px;
height:57px;
margin-left:15%;
margin-top:-3%;
}

#form1{
  width: 844px;
  height: 57px;
  top: 3108px;
  left: 298px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 0.5px 0px 0px 0px;
  opacity: 0px;
  
}
#form input,
#form textarea {
    background-color: #77A28B;
    color: #ffffff;}

#form2{
  width: 844px;
  height: 57px;
  top: 3197px;
  left: 298px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 0.5px 0px 0px 0px;
  opacity: 0px;
   
}
#form3{
  width: 844px;
height: 232px;
top: 3286px;
left: 298px;
gap: 0px;
border-radius: 4px 0px 0px 0px;
border: 0.5px 0px 0px 0px;
opacity: 0px;

}
#button1{
  width: Fixed (844px)px;
height: Hug (53px)px;
margin-top: 2%;
border-radius: 4px 0px 0px 0px;
border: 1px 0px 0px 0px;

}
#footer1{
  width: 188px;
height: 139px;
margin-top: 22%;
margin-left: 1%;
}
#footer2{
  width: 224px;
height: 23px;
top: 3679px;
left: 280px;
gap: 0px;
opacity: 0px;
margin-top: 22%;
font-family: Mulish;
font-size: 15px;
font-weight: 300;
line-height: 18.59px;
text-align: left;

} #footer3 {
  margin-top: 22%;
  font-size: 15px;
font-weight: 300;
line-height: 18.59px;
text-align: left;

font-family: Mulish;
font-size: 15px;
font-weight: 300;
line-height: 18.59px;
text-align: left;

}
#footer4 {
  width: 310px;
height: 23px;
top: 3679px;
left: 632px;
gap: 0px;
opacity: 0px;
font-family: Mulish;
font-size: 15px;
font-weight: 300;
line-height: 18.59px;
text-align: left;
margin-top: 22%;
}

#copyright{
  
}


/*ABOUT US */

#about-slider1-img{
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
} 
#about-slider1 h{
  font-family: Playball;
  font-size: 64px;
  font-weight: 400;
  line-height: 80px;
  text-align: left;
  margin-left: 20%;
  color: #77A28B;
  width: 339px;
height: 80px;
top: 233px;
left: 770px;
gap: 0px;
opacity: 0px;

}
#about-slider1 p{
  font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 44.8px;
text-align: left;
margin-left: 20%;
}

#about-slider2 h{
  width: 310px;
  height: 80px;
  margin-top: 8%;
  left: 80px;
  gap: 0px;
  opacity: 0px;
  color: #77A28B;
  font-family: Playball;
font-size: 64px;
font-weight: 400;
line-height: 80px;
text-align: left;
}

#about-slider2 p{
  width: 565px;
  height: 3oopx;
  top: 916px;
  left: 70px;
  gap: 0px;
  opacity: 0px;
  
  font-family: Mulish;
font-size: 16px;
font-weight: 350;
line-height: 25.32px;
text-align: left;

}

#about-slider2-img{
  width: 530px;
height: 461px;
margin-top: 5%;
left: 730px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;


}
#happy1{
  width: 215px;
height: 100px;
top: 1445px;
left: 563px;
gap: 0px;
opacity: 0px;
font-family: Playball;
font-size: 37px;
font-weight: 300;
line-height: 70px;
text-align: center;
color:#77A28B;
margin-left: 40%;
}

#happy2{
 margin-left: 39%;
height: 10%;
}
#happy4{
  background: #F7F8FA;
  margin-top: 3%;
}




/*gallery*/
#gallery img{
  width: 400px;
height: 80px;
margin-left: 33%;
}
.rowcol-1{
width: 305px;
height: 278px;
margin-top:1%;
left: 80px;
gap: 0px;
opacity: 0px;
}
.rowcol-2{
  width: 305px;
height: 278px;
margin-top:1%;
left: 405px;
gap: 0px;
opacity: 0px;
}
.rowcol-3{
  width: 305px;
height: 278px;
margin-top: 1%;
left: 730px;
gap: 0px;
opacity: 0px;
}
.rowcol-4{
  width: 305px;
  height: 278px;
  margin-top:1%;
  left: 1055px;
  gap: 0px;
  opacity: 0px;
}
/* shop */

#all{
  width: 190px;
height: 40px;
top: 187px;
left: 80px;
gap: 0px;
opacity: 0px;
font-family: Mulish;
font-size: 32px;
font-weight: 800;
line-height: 40.16px;
text-align: left;
}
#all1{
  font-family: Mulish;
font-size: 24px;
font-weight: 400;
line-height: 30.12px;
text-align: left;
}
#table p{
  width: 176px;
height: 69px;
top: 277px;
left: 80px;
gap: 0px;
opacity: 0px;

}


.shop{
  width: 117px;
height: 25px;
top: 714px;
left: 412px;
gap: 0px;
opacity: 0px;
font-family: Mulish;
font-size: 15px;
font-weight: 200;
line-height: 25.1px;
text-align: left;

}
#shop1{
  width: 305px;
height: 319px;
margin-top: 2%;
left: 405px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #CCCCCC
}
.shop1 p{
  width: 219px;
height: 25px;
top: 632px;
left: 412px;
gap: 0px;
opacity: 0px;
font-family: Mulish;
font-size: 20px;
font-weight: 400;
line-height: 25.1px;
text-align: left;
}

#shop2{
  width: 305px;
height: 319px;
margin-top: 2%;
left: 730px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #CCCCCC
}
#shop3{
  width: 305px;
  height: 319px;
  margin-top: 2%;
  left: 1055px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #CCCCCC
}
#shop4{
  width: 305px;
height: 319px;
margin-top: 14%;
left: 405px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #CCCCCC
}
#shop5{
  width: 319px;
height: 319px;
margin-top: 14%;
left: 730px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #CCCCCC
}
#shop6{
  width: 200px;
height: 319px;
margin-top: 14%;
left: 1062px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #CCCCCC
}
#shop7{
  width: 305px;
height: 319px;
margin-top: 14%;
left: 405px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #CCCCCC
}
#shop8{
  width: 305px;
height: 319px;
margin-top: 14%;
left: 730px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #CCCCCC
}
#shop9{
  width: 305px;
  height: 319px;
  margin-top: 14%;
  left: 1055px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #CCCCCC
}
#shop10{
  width: 319px;
height: 319px;
margin-top: 14%;
left: 405px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #CCCCCC
}
#shop11{
  width: 319px;
height: 319px;
margin-top: 14%;
left: 730px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #CCCCCC
}
#shop12{
  width: 200px;
height: 319px;
margin-top: 14%;
margin-right: 1%;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #CCCCCC
}

/* rentals */
#default img{
  width: 1266px;
height: 479px;
top: 137px;
gap: 0px;
opacity: 0px;

}
#default1{
  width: 504px;
height: 80px;
margin-top: 2%;
margin-left: 40%;
font-family: Playball;
font-size: 64px;
font-weight: 400;
line-height: 80px;
text-align:left;
color: #77A28B;
}
#fefault2{
  width: 1064px;
height: 318px;
margin-top: 1%;
margin-left: 60%;
gap: 0px;
opacity: 0px;
font-family: Mulish;
font-size: 20px;
font-weight: 400;
line-height: 53.1px;
text-align: center;
}
#wall img{
  width: 430px;
height: 445px;
margin-top: 2%;
left: 80px;
gap: 0px;
opacity: 0px;
}
#wall1 h4{
  width: 150px;
  height: 80px;
  margin-top: 2%;
  left: 741px;
  gap: 0px;
  opacity: 0px;
  font-family: Playball;
font-size: 64px;
font-weight: 400;
line-height: 80px;
text-align: left;
color: #77A28B;

}
#wall1 p{
  width: 512px;
height: 200px;
top: 1299px;
left: 741px;
gap: 0px;
opacity: 0px;
font-family: Mulish;
font-size: 16px;
font-weight: 250;
line-height: 40.24px;
text-align: left;

}

#made{
  width: 300px;
  height: 307px;
  margin-top: 3%;
  left: 80px;
  gap: 0px;
  opacity: 0px;  
}
#made1{
  width: 300px;
height: 307px;
margin-top: 3%;
left: 405px;
gap: 0px;
opacity: 0px;
}
#made2{
  width: 300px;
  height: 207px;
  margin-top: 3%;
  left: 730px;
  gap: 0px;
  opacity: 0px;  
}
#made3{
  width: 300px;
height: 307px;
margin-top: 3%;
left: 1055px;
gap: 0px;
opacity: 0px;
}

#wall2 h4{
  width: 167px;
  height: 80px;
  top: 2084px;
  left: 80px;
  gap: 0px;
  opacity: 0px;
  font-family: Playball;
  font-size: 64px;
  font-weight: 400;
  line-height: 80px;
  text-align: left;
  color: #77A28B;
    
}
#wall2 p{
  width: 630px;
  height: 160px;
  top: 2178px;
  left: 80px;
  gap: 0px;
  opacity: 0px;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 300;
  line-height: 40.24px;
  text-align: left;
}    
#wall3 img{
  width: 622px;
  height: 445px;
  top: 2061px;
  left: 731px;
  gap: 0px;
  opacity: 0px;
}

#wall4 img{
  width: 630px;
height: 445px;
margin-top: 2%;
left: 87px;
gap: 0px;
opacity: 0px;
}
#wall5 h4{
  width: 247px;
height: 80px;
top: 2952px;
left: 748px;
gap: 0px;
opacity: 0px;
font-family: Playball;
font-size: 64px;
font-weight: 400;
line-height: 80px;
text-align: left;
color: #77A28B;
}
#wall5 p{
  width: 612px;
height: 200px;
top: 3046px;
left: 748px;
gap: 0px;
opacity: 0px;
font-family: Mulish;
font-size: 16px;
font-weight: 300;
line-height: 40.24px;
text-align: left;
}

/* prices */
#idea h4{
  width: 200px;
height: 80px;
margin-left: 40%;
gap: 0px;
opacity: 0px;
color: #77A28B;
font-family: Playball;
font-size: 42px;
font-weight: 200;
line-height: 50px;
text-align: center;
text-align: justify;
}

#line1 img{
  width: 142px;
height: 0px;
margin-left:112%;
margin-top: -9%;
border: 0.5px 0px 0px 0px;
opacity: 0px;
border: 0.5px solid #CCCCCC
}
#line2 img{
  width: 20px;
height: 30px;
margin-top:-8%;
margin-left:40%;
padding: 4.04px 3.02px 4.04px 3.02px;
gap: 0px;
opacity: 0px;
display: justify contents center;
}
#line3 img{
  width: 142px;
height: 0px;
margin-left:-63%;
margin-top:-9%;
left: 785px;
gap: 0px;
border: 0.5px 0px 0px 0px;
opacity: 0px;
border: 0.5px solid #CCCCCC
}

#birthday img{
  width: 638px;
height: 428px;
top: 363px;
margin-left:1%;
gap: 0px;
opacity: 0px;
}
#birthday1 h4{
  width: 133px;
  height: 80px;
  top: 248px;
  margin-left:1%;
  gap: 0px;
  opacity: 0px;
  font-family: Playball;
font-size: 44px;
font-weight: 400;
line-height: 80px;
text-align: left;
color: #77A28B;
;
}
#birthday1 p{
  width: 526px;
height: 245px;
top: 259px;
margin-left:2%;
gap: 0px;
opacity: 0px;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 49.28px;
text-align: left;
}
#more img{
  width: 300px;
height: 307px;
margin-left:1%;
margin-top:5%;
gap: 0px;
opacity: 0px;
}
#more1 img{
  width: 308px;
  height: 634px;
  margin-top:5%;
  left: 405px;
  gap: 0px;
  opacity: 0px;
}
#more2 img{
  width: 308px;
height: 307px;
margin-top:5%;
left: 727px;
gap: 0px;
opacity: 0px;
}
#more3 img{
  width: 305px;
height: 634px;
margin-top:5%;
gap: 0px;
opacity: 0px;
}
#more4 img{
  width: 300px;
height: 307px;
margin-top:-115%;
margin-left:1%;
gap: 0px;
opacity: 0.43px;
}
#more5 img{
  width: 305px;
height: 307px;
margin-top:-115%;
margin-left: 110%;
gap: 0px;
opacity: 0.43px;
}
#view button{
  width: Fixed (261.58px)px;
height: Hug (53px)px;
top: 1495px;
margin-left:40%;
padding: 15px 40px 15px 40px;
gap: 10px;
border-radius: 4px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #77A28B;
}
#view h6{
  width: 90px;
height: 23px;
gap: 0px;
opacity: 0px;
color:#77A28B;
}
#setup h4{
  width: 414px;
  height: 80px;
  top: 1692px;
  margin-left: 1%;
  gap: 0px;
  opacity: 0px;
  font-family: Playball;
  font-size: 50px;
  font-weight: 400;
  line-height: 80px;
  text-align: left;
color:#77A28B;
}
#setup p{
  width: 526px;
height: 245px;
top: 1803px;
margin-left: 1%;
gap: 0px;
opacity: 0px;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 49.28px;
text-align: left;
}
#setup1 img{
  width: 730px;
  height: 428px;
  top: 1678px;
  left: 622px;
  gap: 0px;
  opacity: 0px;
}
#min img{
  width: 305px;
height: 307px;
margin-top:3%;
margin-left:1%;
gap: 0px;
opacity: 0px;
}
#min1 img{
  width: 305px;
height: 307px;
margin-top:3%;
left: 405px;
gap: 0px;
opacity: 0px;
}
#min2 img{
  width: 305px;
height: 307px;
margin-top:3%;
left: 730px;
gap: 0px;
opacity: 0px;
}
#min3 img{
  width: 300px;
height: 307px;
margin-top:3%;
margin-right:2%;
gap: 0px;
opacity: 0px;
}
#min4 img{
  width: 1283px;
height: 73px;
top: 2360px;
left: 80px;
gap: 0px;
opacity: 0.87px;
}
#sha {
  width: Fixed (261.58px)px;
height: Hug (53px)px;
margin-top:1%;
text-align: center;
padding: 15px 40px 15px 40px;
gap: 10px;
border-radius: 4px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
}
#sha h6{
  width: 90px;
height: 23px;
gap: 0px;
opacity: 0px;
color:#77A28B;
}


